@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.Navbar {
  display: flex;
  height: 7rem;
  background: #ffffff;
  align-items: center;
  position: fixed;
}
.Navbar ul li a {
  font-size: 1.6rem;
  color: #000;
}

a.active {
  color: #F02B4D !important;
  border-bottom: 1px solid #000;
}
.Navbar .btn{
  font-size: 1.6rem;
  color:#000;
  background: transparent;
border: 1px solid #000;
}
.Banner,
.choose-anywhere{
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
}
/* .Banner-left, .Choose-left{
  max-width: 50%;

} */
.Banner-left h1,.Choose-left h1{
  max-width: 36rem;
  font-size: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Banner-left p,.Choose-left p{
  max-width: 36rem;
  font-size: 1.6rem;
}
.Banner-left .btn, .Choose-left .btn{
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 1.3rem !important;
  width: 17rem;
  background: #000;
  color:#ffff;
  border:none;
  font-size: 1.9rem;
}
.Banner-left,.Choose-left{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Banner-right,
.Choose-right{
  display: flex;
  align-items: center;
}
.Banner-right img,
.Choose-right img{
  max-width: 55rem;
  /* height: 100%; */
  display: flex;
  align-items: center;
  margin: auto;
}
.memory{
  max-width: 100%;
  min-height: 43rem;
  background: #333333;
  color: #ffff;
}
.memory-content{
  display: flex;
    flex-direction: column;
    max-width: 32rem;
    margin: auto;
}
.memory-content h1{
  font-size: 4rem;
  margin: 2rem 0rem;
}
.memory-content p{
  font-size: 1.3rem;
}
.memory-btn .btn{
  width: 15rem;
  margin-top: 2rem;
  background: none;
  font-size: 1.9rem;
  border: 1px solid #fff;
}
.Choose-left h1{
  font-size: 4rem;
}
.Choose-left p{
  max-width: 36rem;
  font-size: 1.4rem;
}
