@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #E9E7E7;

}

.Navbar {
  display: flex;
  height: 7rem;
  background: #ffffff;
  align-items: center;
  position: fixed;
  z-index: 4;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.hamburger-menu {
  display: none;
}


.Navbar ul li a {
  font-size: 1.6rem;
  color: #000;
}

a.active {
  color: #F02B4D !important;
  border-bottom: 1px solid #000;
}
.Navbar .btn{
  font-size: 1.6rem;
  color:#000;
  background: transparent;
border: 1px solid #000;
}
.Banner,
.choose-anywhere{
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
}
/* .Banner-left, .Choose-left{
  max-width: 50%;

} */
.Banner-left h1,.Choose-left h1{
  max-width: 36rem;
  font-size: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Banner-left p,.Choose-left p{
  max-width: 36rem;
  font-size: 1.6rem;
}
.Banner-left .btn, .Choose-left .btn{
 
  margin-top: 1.3rem;
  width: 17rem;
  background: #000;
  color:#ffff;
  border:none;
  font-size: 1.9rem;
}
.Banner-left,.Choose-left{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.Banner-right,
.Choose-right{
  display: flex;
  align-items: center;
}
.Banner-right img,
.Choose-right img{
  max-width: 55rem;
  /* height: 100%; */
  display: flex;
  align-items: center;
  margin: auto;
}
.memory{
  max-width: 100%;
  min-height: 43rem;
  background: #333333;
  color: #ffff;
}
.memory-content{
  display: flex;
    flex-direction: column;
    max-width: 32rem;
    margin: auto;
}
.memory-content h1{
  font-size: 4rem;
  margin: 2rem 0rem;
}
.memory-content p{
  font-size: 1.3rem;
}
.memory-btn .btn{
  width: 15rem;
  margin-top: 2rem;
  background: none;
  font-size: 1.9rem;
  border: 1px solid #fff;
}
.Choose-left h1{
  font-size: 4rem;
}
.Choose-left p{
  max-width: 36rem;
  font-size: 1.4rem;
}
.Blog{
  display: flex;
  align-items: center;
  height: auto;
}
.Blog-content{
  max-width: 39rem;
  margin: auto;
  min-height: 40rem;
}
.Blog-content h1{
  font-size: 4.5rem;
}
.icon i{
  font-size: 6.5rem;
  margin-bottom: 2rem;
}
.blog-right{
  min-height: 50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 50rem 0rem; */
}
.blog-right-content{
  margin-top: 2rem;
}
.blog-right-content p{
  font-size: 1.4rem;
  margin-left: 2rem;
}

/* travel */
.travel{
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
}
.travel .box{
  max-width: 30rem;
}
.travel .box img{
  max-width: 100%;
margin-bottom: 3rem;
}
.travel .box h1{
  font-size: 2.9rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
 
  .navbar-ul{
    display: none;
    }
  
  
  .navbar-ul li {
    margin: 19px 16px;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    right: 12px;
    font-size: 20px;
    top: 20px;
    color: #000;
  }
  .navbar-mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
  }
.contact-btn{
  display: none !important;
}

  .Banner,.Banner-left,.Banner-right,.Banner div,.choose-anywhere,.choose-anywhere div, .Blog{
    display: block !important;
    min-height: 100%;
  }
  .Banner-right img,.Choose-right img{
    max-width: 100%;
  }
  
.Banner-left h1, .Choose-left h1 {
  max-width: 100%;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Banner-left .btn, .Choose-left .btn {
  margin-top: 1.3rem !important;
  width: 19rem;
  background: #000;
  color: #ffff;
  border: none;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.Blog-content{
  max-width: 100%;
  min-height: 100%;
  display: block !important;
}
.Blog .d-flex,.blog-right{
  display: block !important;
}
.travel,
.travel .container div{
  display: block !important;
}
}
@media (min-width:768px) and (max-width:1024px) {
.Navbar{
  position: sticky;
}
.Banner .container div, .choose-anywhere .container div{
  display: block !important;
}
.Banner-left h1, .Choose-left h1{
  max-width: 100%;
}
.Banner-right img, .Choose-right img {
  max-width: 100%;
 
}
.Banner-right, .Choose-right {
  display: block;

}
.Choose-left p {
  max-width: 100%;
  font-size: 1.4rem;
}
.travel{
  margin: 12rem 0rem;
  display: block;
  min-height: 100%;
}
.Blog .container div,.travel .container div{
  display: block !important;
  text-align: center;
}
.travel .box {
  max-width: 100%;
  margin: auto;
}
.travel .box p{
  font-size: 1.8rem;
}
.Blog-content{
  max-width: 100%;
  min-height: 100%;
  margin: 5rem 0rem;
}
.Blog-content p{
  font-size: 1.8rem;
}
}
.aboutUS-section {
  position: relative;
  padding-top: 85px;
}
.slider-blog-box{
  max-width: 368px;
  border: 1px solid #232323;
  text-align: center;
  border-radius: 15px;
  margin: auto;
}
.profile {
  width: 115px;
  height: 109px;
  background-color: #232323;
  border-radius: 50%;
  padding: 22px;
  margin: 65px auto 0px auto;
}
.profile a {
  font-size: 62px;
  color: white;
}
.slider-blog-box h2{
  font-size: 24px;
  margin: 20px 0px 15px 0px;
  color: #232323;
}
.slider-blog-box p{
  font-size: 14px;
  max-width: 293px;
  margin: auto;
  margin-bottom: 50px;
  color: #232323;
}
.slick-slider{
  margin: 0px 100px;
}
.slidet-text{
  max-width: 529px;
  font-size: 67px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  color: #232323;
}
.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 78px;
  height: 59px;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
  border-radius: 10px;
  border: 1px solid #232323;
}
.slick-prev {
  left: -88px;
  background: url(../images/slider-arrow2.png) no-repeat center center !important;
  background-size: cover;
  
}
.slick-next {
  right: -74px;
  background: url(../images/slider-arrow1.png) no-repeat center center !important;
  background-size: cover;
}
.slick-next:before {
  content: '' !important;
}
.slick-prev:before {
  content: '' !important;
}
.aboutUS-image1 {
  position: absolute;
  top: 13%;
  left: 0%;
}
.aboutUS-image1 img{
  max-width: 100%;
}
.aboutUS-image2 {
  position: absolute;
  bottom: -14%;
  right: 0%;
}
.aboutUS-image2 img{
  max-width: 100%;
}
.contact-section {
  padding-top: 100px;
  margin-bottom: 30px;
}
.contactwrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}
.contact-right {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contact-left h2{
  font-size: 77px;
  color: #232323;
  margin-bottom: 50px;
}
.inner-input, .text-massege{
  max-width: 433px;
  padding: 15px 16px;
  background: transparent;
  border: 2px solid #232323;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 15px;
}
.submit{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding: 7px 0px;
  background-color: #232323;
  max-width: 431px;
  border-radius: 5px;
  margin-top: 40px;
}
.contact-right-image{
  max-width: 563px;
}
.contact-right-image img{
  max-width: 100%;
}
.inner-input::-webkit-input-placeholder { /* Edge */
  color: #232323;
}

.inner-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #232323;
}

.inner-input::placeholder {
  color: #232323;
}
.text-massege::-webkit-input-placeholder { /* Edge */
  color: #232323;
}

.text-massege:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #232323;
}

.text-massege::placeholder {
  color: #232323;
}
.service-section {
  padding-top: 100px;
}
.servicewrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.service-left{
  width: 50%;
  padding-left: 100px;
}
.service-right{
  width: 50%;
}
.service-left h2 {
  font-size: 60px;
  max-width: 657px;
}
.service-right-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.service-right-image img{
  max-width: 100%;
}
.service-section-folder{
  margin-bottom: 50px;
}
.footer-section{
  background-color: #c4c4c4;
  padding: 50px 0px 30px 0px;
}
.footer-title{
  max-width: 175px;
  font-size: 49px;
  color: #232323;
  display: flex;
  align-self: flex-start;
}
.footer-folder-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 100px; */
  /* margin-bottom: 50px; */
  padding-top: 60px;
}
/* .footer-aboutUS-section{
  margin-top: 20px;
} */
.footer-aboutUS-section h2{
  font-size: 24px;
  color: #232323;
  /* margin-bottom: 50px; */
}
.footer-aboutUS-section p{
  
  font-size: 15px;
  color: #232323;
  margin-bottom: 17px;
  margin-top: 16px;

}
.footer-folder-2{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.footer-image{
  max-width: 347px;
}
.footer-image img{
  max-width: 100%;
}
.footer-folder-2 span{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px){
  .slick-slider {
    margin: 0px 80px;
  }
  .slick-prev {
    left: -61px;
  }
  .slick-next {
    right: -43px;
  }
  .slider-blog-box {
    max-width: 302px;
  }
  .slider-blog-box h2 {
    font-size: 27px;
  }
  .slider-blog-box p {
    font-size: 16px;
  }
  .slick-slide{
    width: 535px;
  }
  .slick-slider {
    margin: 0px 193px;
  }
  .footer-title {
    font-size: 39px;
  }
  .footer-aboutUS-section h2 {
    font-size: 21px;
    margin-bottom: 28px;
  }
  .footer-aboutUS-section p {
    font-size: 17px;
    margin-bottom: 11px;
  }
  .footer-image {
    max-width: 262px;
  }
  .footer-aboutUS-section {
    margin-top: 12px;
  }
  .footer-folder-1 {
    padding: 0px 11px;
  }
  .contact-left {
    width: 46%;
    padding-left: 31px;
  }
  .contact-left h2 {
    margin-bottom: 16px;
    font-size: 66px;
  }
  .inner-input, .text-massege {
    margin-bottom: 20px;
    max-width: 376px;
  }
  .contact-right {
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .contact-right-image {
    max-width: 457px;
  }
  .submit {
    max-width: 379px;
    margin-top: 7px;
  }
  .service-left h2 {
    font-size: 36px;
  }
  .service-left {
    padding-left: 46px;
  }
  .service-section {
    margin: 50px 0px 150px 0px;
  }
  .aboutUS-image1 {
    position: absolute;
    top: -23%;
    left: 0%;
  }
}
@media only screen and (max-width: 912px){
  .slick-slider {
    margin: 0px 131px;
  }
  .slick-prev {
    left: -61px;
  }
  .slick-next {
    right: -39px;
  }
}
@media only screen and (max-width: 820px){
  .slick-slider {
    margin: 0px 80px;
  }
  .slick-prev {
    left: -61px;
  }
  .slick-next {
    right: -43px;
  }
  .slider-blog-box {
    max-width: 312px;
  }
  .slider-blog-box h2 {
    font-size: 27px;
  }
  .slider-blog-box p {
    font-size: 16px;
  }
  .contact-left {
    width: 46%;
    padding-left: 13px;
  }
  .contact-right {
    width: 54%;
  }
  .contact-left h2 {
    font-size: 57px;
    margin-bottom: 12px;
  }
  .inner-input, .text-massege {
    max-width: 332px;
    margin-bottom: 9px;
  }
  .submit {
    margin-top: 15px;
    max-width: 333px;
  }
}
@media only screen and (max-width: 768px) {
  .service-section {
    margin: 50px 0px 100px 0px;
  }
  .servicewrapper{
    display: flex;
    flex-direction: column;
  }
  .service-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-left: 0px;
  }
  .service-left h2{
    text-align: center;
  }
  .service-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 69px;
    height: 51px;
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    border-radius: 10px;
    border: 1px solid #232323;
  }
  .slick-prev {
    left: -86px;
  }
  .slick-next {
    right: -79px;
  }
  .slidet-text{
    margin-top: 100px;
  }
  .aboutUS-image1 {
    position: absolute;
    top: -8%;
    left: 0%;
    z-index: -1;
  }
  .aboutUS-section {
    padding-top: 1px;
  }
  .contactwrapper{
    display: flex;
    flex-direction: column;
  }
  .contact-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    padding-left: 0px;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .contact-right{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .contact-right-image {
    max-width: 100%;
  }
  .slider-blog-box p {
    font-size: 16px;
    max-width: 293px;
  }
  .profile {
    width: 133px;
    height: 125px;
  }
  .slider-blog-box h2 {
    font-size: 28px;
  }
  .slick-slider {
    margin: 0px 225px;
  }
  .footer-folder-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 65px;
    margin-bottom: 50px;
  }
  .footer-aboutUS-section h2 {
    margin-bottom: 30px;
  }
  .footer-aboutUS-section p {
    margin-bottom: 16px;
  }
  .footer-title{
    margin-bottom: 35px;
  }
  .footer-folder-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer-folder-2 span{
    padding-left: 50px;
  }
  .contact-left h2 {
    font-size: 72px;
  }
  .inner-input, .text-massege {
    max-width: 402px;
  }
  .submit {
    max-width: 403px;
  }
  .contact-right-image {
    max-width: 61%;
  }
}
@media only screen and (max-width: 767px){
  .contact-left h2 {
    font-size: 52px;
  }
  .contact-right-image {
    max-width: 93%;
  }
  .slidet-text {
    font-size: 43px;
  }
  .slick-slider {
    margin: 0px 50px;
  }
  .slider-blog-box {
    padding: 6px;
  }
  .slick-prev {
    left: -28px;
  }
  .slick-next {
    right: -29px;
  }
  .slider-blog-box {
    border-radius: 15px;
  }
  .profile {
    width: 103px;
    height: 99px;
    margin: 57px auto 0px auto;
  }
  .profile a {
    font-size: 52px;
  }
  .slick-next, .slick-prev {
    width: 51px;
    height: 42px;
  }
  .slider-blog-box h2 {
    font-size: 23px;
  }
  .slider-blog-box p {
    font-size: 14px;
    max-width: 329px;
  }
  .service-left h2 {
    font-size: 32px;
  }
  .service-right-image {
    width: 78%;
    display: flex;
    justify-content: center;
  }
  .service-section {
    margin: 50px 0px;
  }
  .aboutUS-image1{
    max-width: 200px;
  }
  .aboutUS-image1 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  .aboutUS-image2{
    max-width: 263px;
  }
  .footer-folder-1 {
    padding: 0px 17px;
  }
  .footer-aboutUS-section h2 {
    margin-bottom: 21px;
    font-size: 18px;
  }
  .footer-aboutUS-section p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer-image {
    max-width: 300px;
  }
  .footer-folder-2 span {
    padding-left: 18px;
    font-size: 13px;
  }
  .Navbar {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100%;
    z-index: 3;
  }
}
.Footer{
  
  min-height: 6rem;
  background: #fff;
}

