.UsersContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.UserlistItems{
    width: 300px;
    height: auto;
    border: 1px solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-bottom: 30px;
}
.usersImg{
  width: 100px;
  height: auto;
}